:root {
    --accent-1: #6C3B8F;
    --accent-2: #FB7B08;

    --main-background-color: rgba(228, 228, 228, 0.8);
    --main-text-color: black;
}

body {
    font-family: 'Texturina', 'Kosugi', sans-serif;
    font-weight: 400;
}

.flex-align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-font {
    font-family: 'Texturina', 'Kosugi', sans-serif;
    font-weight: 700;
}

.font-montserrat {
    font-family: 'Montserrat', 'Kosugi', sans-serif;
}
